:root {
  --theme-color: #c32929;

  --theme-color-secondary: #b9a16b;

  --theme-color-third: #86bc42;
  --font-heading: "Inter";
  --font-family-base: "Inter";
  --font-special: "Allura", cursive;
}
