.product_skeleton {
  margin-bottom: 15px;
  .productCard {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .imgWrapper {
    background: #e0e0e0;
    border-radius: 8px;
  }

  .infoWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .category,
  .title,
  .price,
  .reviewText {
    height: 16px;
    background: #e0e0e0;
    border-radius: 4px;
  }

  .category {
    width: 30%;
  }

  .title {
    width: 100%;
    height: 20px;
  }

  .price {
    width: 20%;
  }

  .reviewWrapper {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .reviewIcon {
    width: 8px;
    height: 8px;
    background: #e0e0e0;
    border-radius: 50%;
  }

  .reviewText {
    width: 30%;
    margin-left: 4px;
  }
}
