.table-container {
  margin-bottom: 12px;
}

.table-wrapper {
  overflow: auto;
  max-width: 100%;
  border-radius: 8px;
  max-height: 500px;
  min-height: 500px;
  background-color: #fff;
  position: relative;
}

.employee-table {
  width: 100%;
  min-width: 500px;
  border-collapse: collapse;
  font-size: 0.75rem;
  background-color: #fff;

  @include media-breakpoint-down(lg) {
    font-size: 10px !important;
  }

  thead {
    background-color: #f8f9fa;
    background-color: #f8f9fa;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    th {
      padding: 12px;
      text-align: left;
      border-bottom: 2px solid #dee2e6;
      font-weight: bold;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid #dee2e6;
      transition: background-color 0.3s ease, box-shadow 0.3s ease;
      &:hover {
        background-color: rgba(23, 103, 169, 0.2);
      }
    }

    td {
      padding: 12px;
    }
  }
}

.table-wrapper::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.table-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background: #959799;
  border-radius: 10px;
}
